name: deploy
on:
  push:
    branches:
      - main
    paths:
      'src/**'
jobs:
  deploy:
      runs-on: ubuntu-latest
      permissions:
        pages: write
        id-token: write
        contents: read
      environment:
        name: github-pages
        url: ${{ steps.deployment.outputs.page_url }}
      steps:
        - name: checkout
          uses: actions/checkout@v4
        - name: upload
          with:
            path: "./src"
          uses: actions/upload-pages-artifact@master
        - name: Deploy to GitHub Pages
          uses: actions/deploy-pages@v4
